<footer class="ftco-footer ftco-bg-dark ftco-section ">
    <div class="container ">
        <div class="row mb-5 ">
            <div class="col-md ">
                <div class="ftco-footer-widget mb-4 ">
                    <h2 class="ftco-heading-2 ">Eagle Decor</h2>
                    <p>Design is not just what it looks like and feels like. Design is how it works.-- Steve Jobs


                    </p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3 ">
                        {{!--
                        <li class="ftco-animate ">
                            <a href="# ">
                                <span class="icon-twitter "></span>
                            </a>
                        </li> --}}
                        <li class="ftco-animate ">
                            <a href="https://www.facebook.com/eagledecor.in ">
                                <span class="icon-facebook "></span>
                            </a>
                        </li>
                        <li class="ftco-animate ">
                            <a href="https://www.instagram.com/eagledecor.in/?hl=en" target="_blank">
                                <span class="icon-instagram "></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md ">
                <div class="ftco-footer-widget mb-4 ml-md-4 ">
                    <h2 class="ftco-heading-2 ">Links</h2>
                    <ul class="list-unstyled ">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about ">About</a>
                        </li>
                        <li>
                            <a href="/services">Services</a>
                        </li>
                        <li>
                            <a href="/projects ">Projects</a>
                        </li>
                        <li>
                            <a href="/blog ">Blogs</a>
                        </li>
                        <li>
                            <a href="/contact ">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md ">
                <div class="ftco-footer-widget mb-4 ">
                    <h2 class="ftco-heading-2 ">Services</h2>
                    <ul class="list-unstyled ">
                        <li>
                            <a href="/services/architectural-services ">Architectural Services</a>
                        </li>
                        <li>
                            <a href="/services/residential-interior-designing ">Residential Interior Designing</a>
                        </li>

                        <li>
                            <a href="/services/hospitality-interior-designing ">Hospitality Interior Designing</a>
                        </li>
                        <li>
                            <a href="/services/commercial-interior-designing ">Commercial Interior Designing</a>
                        </li>
                        <li>
                            <a href="/services/turn-Key-projects ">Turn Key Projects</a>
                        </li>
                        <li>
                            <a href="/services/interior-decoration">Interior Decoration</a>
                        </li>
                        <li>
                            <a href="/services/modular-kitchen ">Modular Kitchen</a>
                        </li>
                        <li>
                            <a href="/services/handmade-furniture ">Handmade Furniture</a>
                        </li>
                        <li>
                            <a href="/services/modular-furniture ">Modular Furniture</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md ">
                <div class="ftco-footer-widget mb-4 ">
                    <h2 class="ftco-heading-2 ">Have a Questions?</h2>
                    <div class="block-23 mb-3 ">
                        <ul>
                            <li>
                                <span class="mr-3 text-warning">Office</span>
                                <span class="text ">
                                    108/95, Golf Course Extension Road, Sector 62, Gurugram, Haryana 122005 (Near Extention Dhaba)</span>
                            </li>
                            <li>
                                <span class="mr-3 text-warning">Office</span>
                                <span class="text ">C-326C sushant lok phase 1 sector 43 gurgaon 122003
                                </span>
                            </li>
                            <li>
                                <span class="mr-3 text-warning">Branch</span>
                                <span class="text ">Garhi Bolni Road, Rewari, Haryana 123110 ( Near Manchanda Society)
                                </span>
                            </li>

                            <li>
                                <span class="mr-3 text-warning">Workshop</span>
                                <span class="text ">Rzf 131 Street-43 Sadh Nagar part II Palam Colony ND. 110045</span>
                            </li>


                            <li>
                                <a href="tel:+917053579503">
                                    <span class="icon icon-phone "></span>
                                    <span class="text ">7053579503</span>
                                </a>
                            </li>

                            <li>
                                <a href="mailto:contact@eagledecor.in?Subject=subject message" target="_blank">
                                    <span class=" icon icon-envelope "></span>
                                    <span class="text ">contact@eagledecor.in</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 text-center ">

                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved

                </p>
            </div>
        </div>
    </div>
</footer>