<!-- ManyChat -->
{{!--
<script src="//widget.manychat.com/1975940012711268.js" async="async"></script> --}}


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133285830-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-133285830-1');
</script> {{!-- bing web master --}}
<meta name="msvalidate.01" content="47B88C6071A08ED3C85C5151F1387A77" />

<!-- fav icon -->

<link rel="shortcut icon" href="../public/images/favicon.ico" />
<!-- Address bar color -->
{{!--
<meta name="theme-color" content="#ffffff"> --}}
<!-- Specify a startup image -->
<link rel="apple-touch-startup-image" href="../public/images/logoYello.png">

<!-- HTML Meta Tags -->
{{!--
<title>Eagle Decor - Best Interior Designers Company in Delhi NCR</title> --}}
<meta name="description" content="Eagle Decor - Best Interior and Architecture Design Company in Delhi NCR. ✅100% Customer Satisfaction ✅375+ Projects Done ✅High-Quality Work ✅21+ Years Experience. We offer interior design for residential & commercial projects like house, office, hotels, showroom, restaurant, hookah bar & many more.">

<meta name="title" content="Eagle Decor - Best Interior and Architecture Design Company in Delhi NCR">
<meta name="description" content="Eagle Decor - Best Interior and Architecture Design Company in  Delhi NCR. ✅100% Customer Satisfaction ✅375+ Projects Done ✅High-Quality Work ✅21+ Years Experience. We offer interior design for residential & commercial projects like house, office, hotels, showroom, restaurant, hookah bar & many more.">
<meta name="keywords" content="interior designers in delhi,best interior designers in delhi,best interior design companies in delhi,interiors in delhi,eagles,home decor,interior decoration,kitchen decor,eagle decor,Eagle decor,Eagle Decor,bald Eagle,Eagle gift,interior designer in delhi,interior design companies in delhi ncr,interior designing services in delhi,office interiors delhi,home interior designers in noida,interiors designers in delhi,interior design in delhi,interior design company in india,interior design companies in delhi,interior designers in delhi ncr,interior decoration companies in india,office interior designer,interior designers in noida,interior design companies in noida,interior designers in gurgaon,restaurant interior designers in delhi,interior consultants delhi,best interior design firms in delhi,corporate interior designers in gurgaon,interior design delhi,home interior designers in delhi,interior designers in greater kailash,top interior designers in india,interior designing company in delhi,interior design firms in india,interier design firms in india,interior designing firms,niti bagh club,interior design companies,5 star hotel interior design,interior decoration of house in india,interior architecture firms in delhi,bharti corporate office,engineered wood furniture pros and cons,famous architects in delhi,1. in out green interiors | best interior designer in noida delhi gurgaon,pmc services delhi,best interior designer in delhi ghaziabad,3. engineered wood furniture pros and cons,dayal bagh delhi,list of interior designers in ghaziabad,sparkle detailing delhi,architectural firm in delhi,commercial interior designer,2 bhk flat interior,interior decorators noida,interior designer in noida,interior designer in noida ncr,interior designer company in noida,affordable housing in noida extension,interior design company in noida,how much does worldmark cost,commercial office space in noida,list of interior designers in gurgaon,top 10 interior designers in gurgaon,interior designer ncr,interior designer in gurgaon,top architects  design in delhi,theinteria,furniture in gurgaon,interia,wardrobe interior furniture,interior design consultant gurgaon,best interior designer in gurgaon,interior design rates in india,i8nteria,best architects in gurgaon,in out green interiors | best interior designer in noida delhi gurgaon,interior decorators in gurgaon,interior designers near me,best interior designers ncr,office interior designers in delhi,interior decorator  delhi,interior contractors in delhi,hospital interiors style,hotels near janakpuri,design of mandir in living room,cute childrens wall painting decoration ideas,eye candy interior design,drawing room interior design,cheap interior designer in delhi,mandir design,consultancy interior design,hookah interior,commercial vastu,">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="robots" content="index, follow">
<meta name="revisit-after" content="1 day">
<meta name="author" content="eagle decor">


<meta name="google-site-verification" content="TTtkN9dSfHxyTZBQD84eMYSEN-7SoHehElucMSoKPYc" />
<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Eagle Decor - Best Interior and Architecture Design Company in Delhi NCR">
<meta itemprop="description" content="Eagle Decor - Best Interior and Architecture Design Company in Delhi NCR. ✅100% Customer Satisfaction ✅375+ Projects Done ✅High-Quality Work ✅21+ Years Experience. We offer interior design for residential & commercial projects like house, office, hotels, showroom, restaurant, hookah bar & many more.">
<meta itemprop="image" content="http://eagledecor.in/public/images/logoYello.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://eagledecor.in">
<meta property="og:type" content="website">
<meta property="og:title" content="Eagle Decor - Best Interior and Architecture Design Company in Delhi NCR">
<meta property="og:description" content="Eagle Decor - Best Interior and Architecture Design Company in Delhi NCR ✅100% Customer Satisfaction ✅375+ Projects Done ✅High-Quality Work ✅21+ Years Experience. We offer interior design for residential & commercial projects like house, office, hotels, showroom, restaurant, hookah bar & many more.">
<meta property="og:image" content="http://eagledecor.in/public/images/logoYello.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Eagle Decor - Best Interior and Architecture Design Company in Delhi NCR">
<meta name="twitter:description" content="Eagle Decor - Best Interior and Architecture Design Company in Delhi NCR ✅100% Customer Satisfaction ✅375+ Projects Done ✅High-Quality Work ✅21+ Years Experience. We offer interior design for residential & commercial projects like house, office, hotels, showroom, restaurant, hookah bar & many more.">
<meta name="twitter:image" content="http://eagledecor.in/public/images/logoYello.png">

<!-- pinterest-->
<meta name="p:domain_verify" content="4d1c76c717111bc976afafa45d42c6e0" />