<!DOCTYPE html>
<html lang="en">

<head>
	<title>Eagle Decor-services </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">{{>meta}} {{>stylesheet}}
</head>

<body>

	{{>navigation}}
	<!-- END nav -->

	<section class="home-slider js-fullheight owl-carousel">
		<div class="slider-item js-fullheight" style="background-image:url(../public/images/bg_1.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center">

					<div class="col-md-7 col-sm-12 text-center ftco-animate">
						<h1 class="mb-3 mt-5 bread">Services</h1>
						<p class="breadcrumbs">
							<span class="mr-2">
								<a href="/">Home</a>
							</span>
							<span>Project</span>
						</p>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb">
		<div class="container">
			<div class="row no-gutters justify-content-center">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2 order-md-last" title="Architecture service Eagle Decor" style="background-image: url(../public/images/services/Architecture-service-Eagle-Decor.jpg) ">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate ">
							<div class="heading-section mb-md-5 pl-md-5 heading-section-with-line ">
								<div class="pr-md-5 mr-md-5 ">
									<span class="subheading "> Services</span>
									<h2 class="mb-4 ">
										Architectural Services</h2>
								</div>
							</div>
							<div class="pr-md-5 mr-md-5 ">
								<p>
									We work alongside our clients, understanding their goals, their vision and ensuring a good design is a sustainable design.
									<a href="www.eagledecor.in " class="btn-custom ">Eagle Decor</a> follows the principles of Green Architecture and are dedicated to energy efficient design and building
									systems, to reduce the overall carbon footprint of our projects.
								</p>
								<p>
									<a href="# " class="btn-custom ">Read More
										<span class="ion-ios-arrow-forward "></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb ">
		<div class="container ">
			<div class="row no-gutters justify-content-center ">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2" title="residential interior desing Eagle Decor" style="background-image: url(../public/images/services/residential-interior-desing-Eagle_decor.jpg) ">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-5 pl-md-5 heading-section-with-line">
								<div class="pl-md-5 ml-md-5">
									<span class="subheading">Services</span>
									<h2 class="mb-4">Residential Interior Designing</h2>
								</div>
							</div>
							<div class="pl-md-5 ml-md-5 mb-5">
								<p>
									<a href="www.eagledecor.in" class="btn-custom">Eagle Decor</a>have smart team to do everything required to create a beautiful home (Designing + Contracting + Project
									Managers + Workforce + Materials) under one roof. We use smart processes + technology to provide you a hassle free
									beautiful interior design experience! We aim to deliver your thoughts & desires. Under Residential Interior Designing,
									we offer services for Villas, Farm Houses, Penthouses, Apartments as well as independent floors.....
								</p>
								<p>
									<a href="#" class="btn-custom">Read More
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb">
		<div class="container">
			<div class="row no-gutters justify-content-center">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2 order-md-last" title="hospitality Service Eagle Decor" style="background-image: url(../public/images/services/hospitality-service-eagle-decor.jpg);">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-md-5 pl-md-5 heading-section-with-line">
								<div class="pr-md-5 mr-md-5">
									<span class="subheading"> Services</span>
									<h2 class="mb-4">
										Hospitality Interior Designing</h2>
								</div>
							</div>
							<div class="pr-md-5 mr-md-5">
								<p>
									Our uncongenial approach and edgy plans are what set us apart from the rest. We offer services for designing Hotels, Motels,
									Restaurants, Resorts, Cafes, Nightclubs, Pubs and Bars....
								</p>
								<p>
									<a href="#" class="btn-custom">Read More
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb">
		<div class="container">
			<div class="row no-gutters justify-content-center">">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2" title="commercial Interior decoration Eagle Decor" style="background-image: url(../public/images/services/commercial-Interior-decoration-Eagle-Decor.jpg);">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-5 pl-md-5 heading-section-with-line">
								<div class="pl-md-5 ml-md-5">
									<span class="subheading">Services</span>
									<h2 class="mb-4">Commercial Interior Designing</h2>
								</div>
							</div>
							<div class="pl-md-5 ml-md-5 mb-5">
								<p>The work environment is a representation of the culture and values that you are projecting out to society.
									<a href="www.eagledecor.in/about" class="btn-custom">Eagle Decor</a> is skilled at translating this culture perfectly on to the structure of your workplace, whether
									its an office, an institution, a wellness clinic, a retail shop, a hospital or a clinic </p>
								<p>
									<a href="#" class="btn-custom">Read More
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb">
		<div class="container">
			<div class="row no-gutters justify-content-center">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2 order-md-last" title="Trunkey Project Eagle Decor" style="background-image: url(../public/images/services/Trunkey-Project-Eagle-Decor.jpg);">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-md-5 pl-md-5 heading-section-with-line">
								<div class="pr-md-5 mr-md-5">
									<span class="subheading"> Services</span>
									<h2 class="mb-4">

										Turn Key Projects</h2>
								</div>
							</div>
							<div class="pr-md-5 mr-md-5">
								<p>
									We work beyond the limits just to transform client’s thoughts & desires into reality through our varied Interior Designing,
									Decoration and Turnkey Services. ...
								</p>
								<p>
									<a href="#" class="btn-custom">Read More
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb">
		<div class="container">
			<div class="row no-gutters justify-content-center">">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2" title="interior decoration Eagle decor" style="background-image: url(../public/images/services/Interior-Decoration-Eagle-Decor.jpg);">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-5 pl-md-5 heading-section-with-line">
								<div class="pl-md-5 ml-md-5">
									<span class="subheading">Services</span>
									<h2 class="mb-4">Interior Decoration</h2>
								</div>
							</div>
							<div class="pl-md-5 ml-md-5 mb-5">
								<p>
									<a href="www.eagledecor.in" class="btn-custom">Eagle Decor</a> is an interior decorations firm based in Gurgaon. Best Interior Designers & decorators in Gurgaon....</p>
								<p>
									<a href="#" class="btn-custom">Read More
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb">
		<div class="container">
			<div class="row no-gutters justify-content-center">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2 order-md-last" title=" Architecture service Eagle Decor" style="background-image: url(../public/images/services/Modular-Kitchen-Eagle-Decor.jpg);">
							{{!--
							<img src="../public/images/services/Modular Kitchen Eagle Decor.jpg" alt=" Architecture service Eagle Decor"> --}}
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-md-5 pl-md-5 heading-section-with-line">
								<div class="pr-md-5 mr-md-5">
									<span class="subheading"> Services</span>
									<h2 class="mb-4">
										Modular Kitchen</h2>
								</div>
							</div>
							<div class="pr-md-5 mr-md-5">
								<p>

									<a href="www.eagledecor.in" class="btn-custom">Eagle Decor</a>is a company which deals in customized kitchen solutions and it is the best Modular Kitchen Designer
									in Gurgaon. A kitchen ought to be more than recreating pictures from an inventory or magazine into the home, regardless
									of whether conventional OR current structure. Eagle Decor have picked up an extraordinary notoriety for honesty,
									unwavering quality and innovative in the Kitchen structures and establishments. Our kitchen structures are based
									on referrals from our many fulfilled clients. Regardless of whether your task is another kitchen plan or home improvement,
									Tribuz is focused on giving your family direction in item ability in structure and renovating and at last changing
									your kitchen into a kitchen for a lifetime of upgrade and unwinding with yo...
								</p>
								<p>
									<a href="#" class="btn-custom">Read More
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb">
		<div class="container">
			<div class="row no-gutters justify-content-center">">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2" style="background-image: url(../public/images/work-2.jpg);">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-5 pl-md-5 heading-section-with-line">
								<div class="pl-md-5 ml-md-5">
									<span class="subheading">Services</span>
									<h2 class="mb-4">Handmade Furniture
									</h2>
								</div>
							</div>
							<div class="pl-md-5 ml-md-5 mb-5">
								<p>We realize you cherish incredible furnishings and now you can make your home much increasingly wonderful and magnificent
									with our scope of select hand created divider workmanship and stylistic layout. Give your dividers a chance to talk
									with energetic and particular bits of Art simply like your identity. At long last a store that can give you a chance
									to express your feelings and distinction through Art. Way of life reclassified and reconsidered. Eagle Decor offers
									a delightful scope of high quality hardwood furniture and dazzling scope of handmade accessories. There is continually
									something extraordinary for everybody at
									<a href="www.eagledecor.in" class="btn-custom">Eagle Decor</a>....</p>
								<p>
									<a href="#" class="btn-custom">Read More
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-section ftc-no-pb">
		<div class="container">
			<div class="row no-gutters justify-content-center">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2 order-md-last" style="background-image: url(../public/images/img.jpg);">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-md-5 pl-md-5 heading-section-with-line">
								<div class="pr-md-5 mr-md-5">
									<span class="subheading"> Services</span>
									<h2 class="mb-4">
										Modular Furniture</h2>
								</div>
							</div>
							<div class="pr-md-5 mr-md-5">
								<p>
									<a href="www.eagledecor.in/about" class="btn-custom">Eagle Decor</a> is a well known name in Modular Furniture designers in Gurgaon. Throughout the previous two decades,
									Eagle Decor has taken motivation from contemporary stylish developments to reconsider office spaces. Pioneers in
									advancement, we give monetary answers for handle the difficulties looked in the cutting edge office. Looking after
									profitability, characterizing solace at work, empowering connection. Under the capable direction of our expert team,
									we can oblige the necessities and requests of our customers in the most ideal way. Tribuz Interior has a tremendous
									encounter of the client work. It is attributable to the moral business rehearses received by our team of Best Modular
									Furniture Company in Gurgaon that we can grow our customer base. Accessible with us is a wide arrangement of Ultimate
									...
								</p>
								<p>
									<a href="#" class="btn-custom">Read More
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	{{>footer}}



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen">
		<svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
		</svg>
	</div>

	{{>script}}

</body>

</html>