<!DOCTYPE html>
<html lang="en">

<head>
	<title>Eagle Decor-services </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">{{>meta}} {{>stylesheet}}
</head>

<body>

	{{>navigation}}
	<!-- END nav -->

	<section class="home-slider js-fullheight owl-carousel">
		<div class="slider-item js-fullheight" style="background-image:url(../public/images/bg_1.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center">

					<div class="col-md-7 col-sm-12 text-center ftco-animate">
						<h1 class="mb-3 mt-5 bread">Services</h1>
						<p class="breadcrumbs">
							<span class="mr-2">
								<a href="/">Home</a>
							</span>
							<span>Project</span>
						</p>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb">
		<div class="container">
			<div class="row no-gutters justify-content-center">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2 order-md-last" title="Architecture service Eagle Decor" style="background-image: url(../public/images/services/Architecture-service-Eagle-Decor.jpg) ">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate ">
							<div class="heading-section mb-md-5 pl-md-5 heading-section-with-line ">
								<div class="pr-md-5 mr-md-5 ">
									<span class="subheading "> Services</span>
									<h2 class="mb-4 ">
										Architectural Services</h2>
								</div>
							</div>
							<div class="pr-md-5 mr-md-5 ">
								<p>
									We provide you the architectural consultancy right from designing by suggesting different options as per requirements given
									by the client and once the sketch or concept / design is finalised by mutual conscent we further go for approval
									from the competent authorities. At the time of designing only we keep guiding our client regarding local bylaws
									and keep them update in change if any. ....

								</p>
								<p>
									<a href="/services/architectural-services" class="btn-custom ">Read More
										<span class="ion-ios-arrow-forward "></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb ">
		<div class="container ">
			<div class="row no-gutters justify-content-center ">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2" title="residential interior desing Eagle Decor" style="background-image: url(../public/images/services/residential-interior-desing-Eagle_decor.jpg) ">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-5 pl-md-5 heading-section-with-line">
								<div class="pl-md-5 ml-md-5">
									<span class="subheading">Services</span>
									<h2 class="mb-4">Residential Interior Designing</h2>
								</div>
							</div>
							<div class="pl-md-5 ml-md-5 mb-5">
								<p>
									At Eagle Decor, we understand that you need your house to be your own reflection. It should be able to tell the story of
									who you are and made of everything that you love. Residential interior design plays an indisputable role in ensuring
									that you have just the right mix of luxury and comfort at your home. .....
								</p>
								<p>
									<a href="/services/residential-interior-designing" class="btn-custom">Read More
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb">
		<div class="container">
			<div class="row no-gutters justify-content-center">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2 order-md-last" title="hospitality Service Eagle Decor" style="background-image: url(../public/images/services/hospitality-service-eagle-decor.jpg);">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-md-5 pl-md-5 heading-section-with-line">
								<div class="pr-md-5 mr-md-5">
									<span class="subheading"> Services</span>
									<h2 class="mb-4">
										Hospitality Interior Designing</h2>
								</div>
							</div>
							<div class="pr-md-5 mr-md-5">
								<p>
									Hospitality is our forte, we specialise in delivering Creative, Fresh, Safety-compliant, Cost-effective, Sustainable Design
									Solutions for new hospitality projects of all sizes and Re-styling / Re-positioning your existing business to keep
									your loyal customers engaged.....
								</p>
								<p>
									<a href="/services/hospitality-interior-designing" class="btn-custom">Read More
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb">
		<div class="container">
			<div class="row no-gutters justify-content-center">">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2" title="commercial Interior decoration Eagle Decor" style="background-image: url(../public/images/services/commercial-Interior-decoration-Eagle-Decor.jpg);">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-5 pl-md-5 heading-section-with-line">
								<div class="pl-md-5 ml-md-5">
									<span class="subheading">Services</span>
									<h2 class="mb-4">Commercial Interior Designing</h2>
								</div>
							</div>
							<div class="pl-md-5 ml-md-5 mb-5">
								<p>When designing corporate office interiors, the key is to strike a balance between styling and optimum space utilisation.
									Right from the entry through the reception to the work floor and conference rooms to office furniture design and
									lighting, every aspect of the corporate office should reflect the vision of the company. That’s exactly why we have
									the best commercial interior designers in Mumbai in our team. ....
								</p>
								<p>
									<a href="/services/commercial-interior-designing" class="btn-custom">Read More
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb">
		<div class="container">
			<div class="row no-gutters justify-content-center">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2 order-md-last" title="Trunkey Project Eagle Decor" style="background-image: url(../public/images/services/Trunkey-Project-Eagle-Decor.jpg);">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-md-5 pl-md-5 heading-section-with-line">
								<div class="pr-md-5 mr-md-5">
									<span class="subheading"> Services</span>
									<h2 class="mb-4">

										Turn Key Projects</h2>
								</div>
							</div>
							<div class="pr-md-5 mr-md-5">
								<p>
									Nitido Contracting provides complete integration of design, project management, and on-site execution. By selecting our contracting
									services, our clients are able to benefit from a single point of accountability through the course of the project
									– from concept development to move-in. ...
								</p>
								<p>
									<a href="/services/turn-Key-projects" class="btn-custom">Read More
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb">
		<div class="container">
			<div class="row no-gutters justify-content-center">">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2" title="interior decoration Eagle decor" style="background-image: url(../public/images/services/Interior-Decoration-Eagle-Decor.jpg);">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-5 pl-md-5 heading-section-with-line">
								<div class="pl-md-5 ml-md-5">
									<span class="subheading">Services</span>
									<h2 class="mb-4">Interior Decoration</h2>
								</div>
							</div>
							<div class="pl-md-5 ml-md-5 mb-5">
								<p>
									<a href="www.eagledecor.in" class="btn-custom">Eagle Decor</a> is an interior decorations firm based in Gurgaon. Best Interior Designers & decorators in Gurgaon....</p>
								<p>
									<a href="/services/interior-decoration" class="btn-custom">Read More
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb">
		<div class="container">
			<div class="row no-gutters justify-content-center">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2 order-md-last" title=" Architecture service Eagle Decor" style="background-image: url(../public/images/services/Modular-Kitchen-Eagle-Decor.jpg);">
							{{!--
							<img src="../public/images/services/Modular Kitchen Eagle Decor.jpg" alt=" Architecture service Eagle Decor"> --}}
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-md-5 pl-md-5 heading-section-with-line">
								<div class="pr-md-5 mr-md-5">
									<span class="subheading"> Services</span>
									<h2 class="mb-4">
										Modular Kitchen</h2>
								</div>
							</div>
							<div class="pr-md-5 mr-md-5">
								<p>

									Modular Kitchen has quickly become a fundamental part of our home. The rising preference of having a modular kitchen design,
									in place of usual kitchen, is because the Modular kitchen provides aesthetics, convenience, and maximum space utilization.
									...
								</p>
								<p>
									<a href="/services/modular-kitchen" class="btn-custom">Read More
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb">
		<div class="container">
			<div class="row no-gutters justify-content-center">">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2" style="background-image: url(../public/images/work-2.jpg);">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-5 pl-md-5 heading-section-with-line">
								<div class="pl-md-5 ml-md-5">
									<span class="subheading">Services</span>
									<h2 class="mb-4">Handmade Furniture
									</h2>
								</div>
							</div>
							<div class="pl-md-5 ml-md-5 mb-5">
								<p>We realize you cherish incredible furnishings and now you can make your home much increasingly wonderful and magnificent
									with our scope of select hand created divider workmanship and stylistic layout. Give your dividers a chance to talk
									with energetic and particular bits of Art simply like your identity. At long last a store that can give you a chance
									to express your feelings and distinction through Art. Way of life reclassified and reconsidered. Eagle Decor offers
									a delightful scope of high quality hardwood furniture and dazzling scope of handmade accessories. There is continually
									something extraordinary for everybody at
									<a href="www.eagledecor.in" class="btn-custom">Eagle Decor</a>....</p>
								<p>
									<a href="/services/handmade-furniture" class="btn-custom">Read More
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-section ftc-no-pb">
		<div class="container">
			<div class="row no-gutters justify-content-center">
				<div class="col-md-10">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2 order-md-last" style="background-image: url(../public/images/img.jpg);">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-md-5 pl-md-5 heading-section-with-line">
								<div class="pr-md-5 mr-md-5">
									<span class="subheading"> Services</span>
									<h2 class="mb-4">
										Modular Furniture</h2>
								</div>
							</div>
							<div class="pr-md-5 mr-md-5">
								<p>
									Looking for the best moduler furniture designers in Gurgaon for your loved Home? Worried about the interior design of moduler
									furniture? Then, you are at the right place! Eagle decor are a well-known name in the moduler furniture design company,
									which provides moduler furniture designing Services in Gurgaon, Delhi, ...
								</p>
								<p>
									<a href="/services/modular-furniture" class="btn-custom">Read More
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	{{>footer}}



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen">
		<svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
		</svg>
	</div>

	{{>script}}

</body>

</html>