<!DOCTYPE html>
<html lang="en">

<head>
    <title>Eagle Decor </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">{{>meta}} {{>stylesheet}}
</head>

<body>

    {{>navigation}}
    <!-- END nav -->

    <section class="home-slider js-fullheight owl-carousel">
        <div class="slider-item js-fullheight" style="background-image:url(../public/images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">Blog</h1>
                        <p class="breadcrumbs">
                            <span class="mr-2">
                                <a href="/">Home /</a>
                            </span>
                            <span class="mr-2">
                                <a href="/blog">Blogs /</a>
                            </span>
                            <span>5 Bedroom Style Tips</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ftco-animate">
                    <h2 class="mb-3">5 Bedroom Style Tips</h2>
                    <p>If you’re in need of some bedroom inspiration that makes the most of any given space (no matter how difficult
                        it is to work with, we’re here to help! Here are five of our bedrooms we’ve furnished this year that
                        we believe will help inspire you.</p>
                    <p>
                        <img src="../public/images/blog/living-room-design-by-agle-decor.jpg" alt="" class="img-fluid">
                    </p>


                    <h2 class="mb-3 mt-5">#1. Matching Existing Wallpaper</h2>
                    <p>For this bedroom in Brighton, we worked around the existing wallpaper. If not careful, the unique pattern
                        and signature grey colour would clash with furniture that didn’t match, so we sourced a bed, chairs,
                        and furnishings that complimented that particular shade. Similarly, we bought cushions with textures
                        to match the wall, and introduced mirrors to spread the pattern throughout the room. Our aim was
                        to bring luxury to this Brighton apartment, and working with what was already in place, we managed
                        to create a cohesive bedroom that channeled that air of sophistication. Sometimes working around
                        an existing wallpaper or colour helps bring a vision together. Our tip would be not to get rid of
                        what is already there if you can help it – work with it.</p>
                    <p>
                        <img src="../public/images/blog/Floral-Fabrics-&-Wallpapers.jpg" alt="Matching Existing Wallpaper Eagle Decor" class="img-fluid">
                    </p>


                    <h2 class="mb-3 mt-5">#2. Draw Inspiration from Your Environment</h2>
                    <p>When we went to this small room in Hove, we decided to bring the seaside indoors, through a range of
                        soft blues. The result was a calming, contemporary bedroom perfect for a young professional. Likewise,
                        you’re renovating a property that’s surrounded by red bricks or acres of trees, we recommend bringing
                        those matching colours to the walls, floors, and décor. While not a physical limitation like an existing
                        statement wall, trying to replicate your environment through colours, textures, and careful thought
                        is a great way to achieved inspired results.

                    </p>
                    <p>
                        <img src="../public/images/blog/stunning-bedroom-design-styles.jpg" alt=" Go Neutral, Add Pastel  Eagle Decor best interior designer in delhi ncr"
                            class="img-fluid">
                    </p>


                    <h2 class="mb-3 mt-5">#3.Go Neutral, Add Pastel</h2>
                    <p>When in doubt, go neutral. And if you want to add some colour, go for something pastel. For this bedroom
                        in Grinstead, we added peach tones – from the cushions to the flowers – that paired well with the
                        white bedsheets, white walls, and dark carpet. Without changing much about the room, we were able
                        to add colour without it catching one’s attention more than desired. That’s why we recommend going
                        neutral and experimenting with pastel décor.

                    </p>
                    <p>
                        <img src="../public/images/blog/bedroom-design-idea-eagle-decor.jpg" alt="Eco-Friendly Finishings Eagle Decor" class="img-fluid">

                    </p>


                    <h2 class="mb-3 mt-5">#4. Find a Theme</h2>
                    <p>For this Finchley master bedroom, we wanted to create the best relaxation spot for a busy traveller.
                        When putting ourselves in the minds of someone who spans the globe, we ended up going to simple tones
                        with an eclectic range of décor. As shown above, we went for a quirky pineapple lamp for the bedside
                        table, while on the other side of the room we brought various plants you’d see across your adventures.
                        Not only is it a fun exercise to put yourself in someone else’s shoes and think about what they might
                        want before your own preferences, but you may just surprise yourself with what you discover when
                        you step outside your comfort zone.</p>
                    <p>
                        <img src="../public/images/blog/Red-Theme-Bedroom-Design.jpg" alt=" Find a Theme Eagle Decor" class="img-fluid">

                    </p>



                    <h2 class="mb-3 mt-5">#5. Make the Most of a Small Space</h2>
                    <p>The most common problem of all is likely when a room is far too small to fit your grand vision. Trying
                        to bring the most out of a small space can be a challenge, especially if you want to fit a double
                        bed inside. Of course, you should reorganise your room to best make use of the floor space, but our
                        top tip is to give the illusion of the room’s size: try adding reflective materials like we did with
                        these bedside drawers in this Bushey apartment, or add large mirrors to give the impression of more
                        space than is there. Accept what you have, work with it, and then make it seem better than it actually
                        is. For more on these bedrooms and the full properties they belong to, check out our Portfolio page
                        for all of our professional photos.</p>
                    <p>
                        <img src="../public/images/blog/stunning-small-bedroom-designs-like-architecture-u0026-interior-design-follow-us-kwxrefn-.jpg"
                            alt="Dark Kitchens Eagle Decor" class="img-fluid">

                    </p>

                    {{!-- fkjgfldjgklsdjfglsfjdgl --}}




                    <div class="pt-5 mt-5">

                        <!-- END comment-list -->

                        <div class="comment-form-wrap pt-5">
                            {{msg}}
                            <h3 class="mb-5">Contact Us</h3>
                            <form action="/" data-netlify="true" method="post" class="p-5 bg-light">
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input type="text" class="form-control" required="required" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input type="email" class="form-control" required="required" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="website">Phone</label>
                                    <input type="number" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea name="" id="message" cols="30" rows="10" class="form-control" value="message" required="required"></textarea>
                                </div>

                                <input type="hidden" name="url" id="url">

                                <script>
                                    var urlPath = window.location.pathname;
                                    var input = document.getElementById("url");
                                    input.value = urlPath;
                                </script>

                                <div class="form-group">
                                    <input type="submit" class="btn py-3 px-4 btn-primary">
                                </div>

                            </form>
                        </div>

                    </div>

                </div>
                <!-- .col-md-8 -->
                <div class="col-lg-4 sidebar ftco-animate">
                    <div class="sidebar-box ftco-animate">
                        <h3>Popular Articles</h3>

                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(../public/images/image_2.jpg);"></a>
                            <div class="text">
                                <h3 class="heading">
                                    <a href="/blog/top-2019-interior-design-trends">Top 2019 Interior Design Trends</a>
                                </h3>
                                <div class="meta">
                                    <div>
                                        <a href="/blog/top-2019-interior-design-trends">
                                            <span class="icon-calendar"></span> March 20, 2019</a>
                                    </div>
                                    <div>
                                        <a href="/blog/top-2019-interior-design-trends">
                                            <span class="icon-person"></span>Admin</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(../public/images/image_3.jpg);"></a>
                            <div class="text">
                                <h3 class="heading">
                                    <a href="/blog/5-bedroom-style-tips">5 Bedroom style tips</a>
                                </h3>
                                <div class="meta">
                                    <div>
                                        <a href="/blog/5-bedroom-style-tips">
                                            <span class="icon-calendar"></span> March 20, 2019</a>
                                    </div>
                                    <div>
                                        <a href="/blog//5-bedroom-style-tips">
                                            <span class="icon-person"></span>Admin</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(../public/images/image_1.jpg);"></a>
                            <div class="text">
                                <h3 class="heading">
                                    <a href="/blog/5-popular-interior-design-styles">5 Popular Interior Design Styles</a>
                                </h3>
                                <div class="meta">
                                    <div>
                                        <a href="/blog/5-popular-interior-design-styles">
                                            <span class="icon-calendar"></span> March 20, 2019</a>
                                    </div>
                                    <div>
                                        <a href="/blog/5-popular-interior-design-styles">
                                            <span class="icon-person"></span>Admin</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-box subs-wrap">
                        <h3>Subcribe to our Newsletter</h3>
                        {{!--
                        <p>Far far away, behind the word mountains, far from the countries Vokalia</p> --}}
                        <form action="#" class="subscribe-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email Address">
                                <input type="submit" value="Subscribe" class="mt-2 btn btn-white submit">
                            </div>
                        </form>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3>Archives</h3>
                        <ul class="categories">
                            <li>
                                <a href="#">September 2018
                                    <span>(6)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">August 2018
                                    <span>(8)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">July 2018
                                    <span>(2)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">June 2018
                                    <span>(7)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">May 2018
                                    <span>(5)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">April 2018
                                    <span>(3)</span>
                                </a>
                            </li>
                        </ul>
                    </div>



                </div>
                <!-- END COL -->

            </div>
        </div>
    </section>
    <!-- .section -->

    {{>footer}}



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
        </svg>
    </div>


    {{>script}}

</body>

</html>