<!DOCTYPE html>
<html lang="en">

<head>
    <title>Eagle Decor </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">{{>meta}} {{>stylesheet}}
</head>

<body>

    {{>navigation}}
    <!-- END nav -->

    <section class="home-slider js-fullheight owl-carousel">
        <div class="slider-item js-fullheight" style="background-image:url(../public/images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">Blog</h1>
                        <p class="breadcrumbs">
                            <span class="mr-2">
                                <a href="/">Home /</a>
                            </span>
                            <span class="mr-2">
                                <a href="/blog">Blogs /</a>
                            </span>
                            <span>top-2019-interior-design-trends</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ftco-animate">
                    <h2 class="mb-3">Top 2019 interior design trends</h2>
                    <p>A well-appointed space, regardless of style, stands the test of time. But that doesn’t mean you can’t
                        take your cue from what’s timely. While décor isn’t as fickle as fashion, new trends do surface every
                        year or so. To find out what’s hot for 2019, we tapped top design pros for their best predictions.
                        These ideas just might inspire you to make some improvements.</p>
                    <p>
                        <img src="../public/images/blog/2-Seater-sofa-design-eagle-decor.jpg" alt="2-Seater-sofa-design-eagle-decor.jpg" class="img-fluid">
                    </p>


                    <h2 class="mb-3 mt-5">#1. Textural Touches</h2>
                    <p>All that reasoning as to why you should use texture is well and good, but it only goes so far if you
                        don’t know how to effectively bring it into your home. Here are a few ways that we suggest adding
                        texture to a room: Architectural Elements: If you’re lucky enough to have crown molding, chair rails,
                        or tray ceilings in your home, make them a focal point. Furniture: Wooden benches, satin reading
                        chairs, and marble tabletops all bring a distinct feel to the space. Décor Items: Shadow boxes, knick-knacks
                        or even flowers could be used. Floor and Wall Coverings: A carefully placed throw rug or even some
                        patterned wall design will bring tons of depth to the room. Textiles: Use cloths like slip covers,
                        throw pillows, and even blankets to make the room pop.</p>
                    <p>
                        <img src="../public/images/blog/Textural-Touches.jpg" alt="Floral Fabrics & Wallpapers Eagle Decor best interior desinger in gurgaon"
                            class="img-fluid">
                    </p>
                    <h2 class="mb-3 mt-5">#2. Back in Black</h2>
                    <p>Spaces that were typically painted white are starting to bear black hues, especially in kitchens and
                        baths, Ms. O’Neill said. “These have become popular as evidenced by the rising trend of black appliances,
                        fixtures, surfaces and materials that dominated the international trade show at Salone Mobile in
                        [Milan, Italy]. “The effect can be dramatic, sexy and unexpected.” Traditionally, black paint was
                        used as an accent hue for exteriors—on a front door or shutters, for example—but now Ms. O’Neill
                        is seeing a rise in all-black facades and fencing. “Black tends to highlight the silhouette of a
                        house in a sophisticated, architectural sense,” Ms. O’Neill said.</p>
                    <p>
                        Among the Houzz community of 2.1 million active home remodeling and design professionals, black is big for kitchens and being
                        expressed on appliances like range hoods, as island accent colors and in all-black cabinetry. Houzz
                        predicts that in 2019, we'll see black cabinets paired with white walls, backsplashes and countertops
                        for a dynamic and sophisticated contrast. “Black is a classic color that never goes out of style,
                        but enthusiasm for colors ebb and flow just like in fashion,” said Mitchell Parker, Houzz editor
                        and writer based in Palo Alto, California. “Black's re-emergence is a reaction against the whites
                        and bright colors that have been popular for so long,” Mr. Parker said.
                    </p>


                    <img src="../public/images/blog/black-in-black.jpg" alt="Back in Black Eagle Decor" class="img-fluid">

                    <h2 class="mb-3 mt-5">#3.True Colors</h2>
                    <p>While black is seeing a resurgence, so is the use of color. “It’s cyclical: Whenever the economy is doing
                        well, or consumer confidence is up, color sells more,” said Los Angeles-based designer Robert Novogratz
                        of The Novogratz. “When people are happier and feeling good, they’re more likely to live with color,”
                        he said. Mr. Beers added, “We’ll be seeing a more expressive use of bold colors as well as imaginative
                        and fun ways of pairing prints.” One innovative use of color is through lighting. Liana Frey, vice
                        president of marketing for Ketra lighting, noted that color-tunability, or the ability for lights
                        to display different hues, whether pastel or bold, is becoming popular for the home. Ketra has a
                        system that lets you easily adjust the lighting—via an app on your tablet or smartphone—including
                        its color-tunability and vibrancy, which impacts how the colors and finishes in the room are “read”
                        by the human eye. “The effect is similar to applying a filter to a photo; the saturation of the finish
                        can be muted or increased in intensity,” Ms. Frey said. Designers are continually exploring new ways
                        to make an interesting statement, and many do this through color, Mr. Barzilay Freund said. For instance,
                        warmer tones and brighter shades are permeating spaces in myriad ways from wallcoverings to furniture
                        and statement art to decorative accessories, even lighting. “We’re seeing purple and pink accents
                        and saturated red, blue and green walls in rooms where tasteful grey and beige once ruled,” he said.
                    </p>
                    <p>
                        <img src="../public/images/blog/true-color.jpg" alt="True Colors Eagle Decor best interior desinger in gurgaon" class="img-fluid">

                    </p>
                    <h2 class="mb-3 mt-5">#4. Mixed Styles

                    </h2>
                    <p>Layered spaces also mean incorporating pieces and influences from different eras. “We are worldlier than
                        ever, and that’s demonstrated by the bold mixing of different cultural and historical references,
                        as well as the pairing of international design with international art,” Mr. Beers said. He recently
                        designed a restaurant in Philadelphia that blends styles taken from American Irish pubs and Taiwanese
                        night food markets. “The best rooms in Europe have long-featured items passed down through many generations
                        in dynamic conversation with one another. Designers are now interested in creating such historically
                        layered spaces,” Mr. Barzilay Freund said. He also noted that designers are adding custom pieces
                        to this mix from craftsmen and small-scale manufacturers to secure unique pieces not readily available
                        to everyone. “When you put a piece of 18th-century furniture next to an avant-garde contemporary
                        piece, you not only bring into the present what might otherwise be considered a fusty antique, but
                        you give weight, or gravitas, to that new creation,” Mr. Barzilay Freund said. “Nobody wants to live
                        in a museum display or a space that feels like every object came from the same showroom,” Mr. Barzilay
                        Freund said. “By mixing furniture from a variety of periods and pairing high and low objects and
                        art, you create a space that is timeless, not a time capsule.”</p>
                    <p>
                        <img src="../public/images/blog/living-dining-and-bar-design-eagle-decor.jpg" alt="Mixed Styles Eagle Decor" class="img-fluid">

                    </p>
                    <h2 class="mb-3 mt-5">#5. Metallic Tones

                    </h2>
                    <p>As we move away from an industrial design aesthetic, “we’re see a growing popularity in the polished
                        and tailored look of metallic finishes,” Mr. Beers said. He favors silver for its clean nautical
                        look and gold and brass for richness and warmth. Different iterations of gold, from rose gold to
                        matte gold, are finding their way into design from furniture and accent pieces to walls, Mr. Novogratz
                        said. In his own furniture designs, Mr. Novogratz offers accent pieces such as desk lamps and even
                        large-scale items like canopy beds in an all-gold options. Ms. Eisen’s noticed a trend toward cooler
                        brushed metallics like chrome, nickel and iron, which “add flare without stealing the show.” For
                        a recent project at 807 Park in Manhattan, Ms. Eisen created a dramatic, double-height mirror grid,
                        which reflects light, doubles the visual square footage and adds a bit of glamour..</p>
                    <p>
                        <img src="../public/images/blog/Copper-Accents.jpg" alt="Metallic Tones Eagle Decor best interior desinger in gurgaon" class="img-fluid ">
                    </p>

                    {{!-- fkjgfldjgklsdjfglsfjdgl --}}




                    <div class="pt-5 mt-5">

                        <!-- END comment-list -->

                        <div class="comment-form-wrap pt-5">
                            {{msg}}
                            <h3 class="mb-5">Contact Us</h3>
                            <form action="/" data-netlify="true" method="post" class="p-5 bg-light">
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input type="text" class="form-control" required="required" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input type="email" class="form-control" required="required" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="website">Phone</label>
                                    <input type="number" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea name="" id="message" cols="30" rows="10" class="form-control" value="message" required="required"></textarea>
                                </div>

                                <input type="hidden" name="url" id="url">

                                <script>
                                    var urlPath = window.location.pathname;
                                    var input = document.getElementById("url");
                                    input.value = urlPath;
                                </script>

                                <div class="form-group">
                                    <input type="submit" class="btn py-3 px-4 btn-primary">
                                </div>

                            </form>
                        </div>

                    </div>

                </div>
                <!-- .col-md-8 -->
                <div class="col-lg-4 sidebar ftco-animate">
                    <div class="sidebar-box ftco-animate">
                        <h3>Popular Articles</h3>

                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(../public/images/image_2.jpg);"></a>
                            <div class="text">
                                <h3 class="heading">
                                    <a href="/blog/top-2019-interior-design-trends">Top 2019 Interior Design Trends</a>
                                </h3>
                                <div class="meta">
                                    <div>
                                        <a href="/blog/top-2019-interior-design-trends">
                                            <span class="icon-calendar"></span> March 20, 2019</a>
                                    </div>
                                    <div>
                                        <a href="/blog/top-2019-interior-design-trends">
                                            <span class="icon-person"></span>Admin</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(../public/images/image_3.jpg);"></a>
                            <div class="text">
                                <h3 class="heading">
                                    <a href="/blog/5-bedroom-style-tips">5 Bedroom style tips</a>
                                </h3>
                                <div class="meta">
                                    <div>
                                        <a href="/blog/5-bedroom-style-tips">
                                            <span class="icon-calendar"></span> March 20, 2019</a>
                                    </div>
                                    <div>
                                        <a href="/blog/5-bedroom-style-tips">
                                            <span class="icon-person"></span>Admin</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(../public/images/image_1.jpg);"></a>
                            <div class="text">
                                <h3 class="heading">
                                    <a href="/blog/5-popular-interior-design-styles">5 Popular Interior Design Styles</a>
                                </h3>
                                <div class="meta">
                                    <div>
                                        <a href="/blog/5-popular-interior-design-styles">
                                            <span class="icon-calendar"></span> March 20, 2019</a>
                                    </div>
                                    <div>
                                        <a href="/blog/5-popular-interior-design-styles">
                                            <span class="icon-person"></span>Admin</a>
                                    </div>
                                    {{!--
                                    <div>
                                        <a href="#">
                                            <span class="icon-chat"></span> 19</a>
                                    </div> --}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-box subs-wrap">
                        <h3>Subcribe to our Newsletter</h3>
                        {{!--
                        <p>Far far away, behind the word mountains, far from the countries Vokalia</p> --}}
                        <form action="#" class="subscribe-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email Address">
                                <input type="submit" value="Subscribe" class="mt-2 btn btn-white submit">
                            </div>
                        </form>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3>Archives</h3>
                        <ul class="categories">
                            <li>
                                <a href="#">September 2018
                                    <span>(6)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">August 2018
                                    <span>(8)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">July 2018
                                    <span>(2)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">June 2018
                                    <span>(7)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">May 2018
                                    <span>(5)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">April 2018
                                    <span>(3)</span>
                                </a>
                            </li>
                        </ul>
                    </div>



                </div>
                <!-- END COL -->

            </div>
        </div>
    </section>
    <!-- .section -->

    {{>footer}}



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
        </svg>
    </div>


    {{>script}}

</body>

</html>