<!DOCTYPE html>
<html lang="en">

<head>
    <title>Eagle Decor </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {{>meta}} {{>stylesheet}}
</head>

<body>

    {{>navigation}}
    <!-- END nav -->

    <section class="home-slider js-fullheight owl-carousel">
        <div class="slider-item js-fullheight" style="background-image:url(../public/images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">Blog</h1>
                        <p class="breadcrumbs">
                            <span class="mr-2">
                                <a href="/">Home /</a>
                            </span>
                            <span class="mr-2">
                                <a href="/blog">Blogs /</a>
                            </span>
                            <span>Top 2019 Interior Design Trends</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ftco-animate">
                    <h2 class="mb-3">Top 2019 Interior Design Trends</h2>
                    <p>Every New Year brings new trends to the design world. We’ve researched the opinions of interior designers
                        who have predicted what’s expected be most popular and narrowed it down. Without further ado, here
                        are our top 9 trends for 2019.</p>
                    <p>
                        <img src="../public/images/image_1.jpg" alt="" class="img-fluid">
                    </p>


                    <h2 class="mb-3 mt-5">#1. Floral Fabrics & Wallpapers</h2>
                    <p>If there’s one major theme this year, it’s going green. Or for this trend, floral. Embrace the patterns
                        in fabrics and wallpapers. Bring the wildlife into your living room and don’t be afraid to go bold.
                        Pairing floral designs with night watch green is our suggestion to show you’re up to date in recent
                        interior design trends.</p>
                    <p>
                        <img src="../public/images/image_2.jpg" alt="" class="img-fluid">
                    </p>
                    <h2 class="mb-3 mt-5">#2. Colour of the Year: Night Watch Green</h2>
                    <p>Without a doubt, Night Watch Green is what has everyone talking this year. This deep, luxurious shade
                        of green has caught the attention of interior designers, and for good reason. Not only does it add
                        a mature and sophisticated air, but it brings some of the outside energy inside. However, don’t go
                        painting all your walls this colour, otherwise you’ll end up overwhelmed – save it for larger rooms
                        where its effects won’t be too intense.</p>
                    <p>
                        <img src="../public/images/image_2.jpg" alt="" class="img-fluid">
                    </p>
                    <h2 class="mb-3 mt-5">#3. Eco-Friendly Finishings</h2>
                    <p>Back to the most prevalent theme of the year: Going green. Another trend in 2019, and likely in many
                        years to follow, is embracing eco-friendly finishings. While the upkeep might seem a challenge, before
                        long society must move along with a greener approach, so adapting as early as possible will keep
                        you ahead of the curb and show you’re not only concerned about the state of your home, but the state
                        of the world, too

                    </p>
                    <p>
                        <img src="../public/images/image_2.jpg" alt="" class="img-fluid">
                    </p>
                    <h2 class="mb-3 mt-5">#4. Copper Accents</h2>
                    <p>A personal favourite of ours, copper accents rarely go wrong. Not only are they visually striking, but
                        if you have a piece of furniture with a copper tinge, you can incorporate that design into other
                        furnishings. We recently dressed a gorgeous apartment that came with copper taps, rails, and skirting,
                        so we made sure to match the design in our furnishing, to great success.</p>
                    <p>
                        <img src="../public/images/image_2.jpg" alt="" class="img-fluid">
                    </p>
                    <h2 class="mb-3 mt-5">#5. Dark Kitchens</h2>
                    <p>White and simple kitchens have been common for years now, but 2019 looks to bring the dark aesthetic
                        back to our cooking space. It can be daunting to go for something so bold, but with the many inspirations
                        available online, it’s definitely possible to achieve a modern and appealing kitchen with dark colours.</p>
                    <p>
                        <img src="../public/images/image_2.jpg" alt="" class="img-fluid">
                    </p>

                    {{!-- fkjgfldjgklsdjfglsfjdgl --}}




                    <div class="pt-5 mt-5">

                        <!-- END comment-list -->


                        <div class="comment-form-wrap pt-5">
                            {{msg}}
                            <h3 class="mb-5">Contact Us</h3>
                            <form action="/" data-netlify="true" method="post" class="p-5 bg-light">
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input type="text" class="form-control" required="required" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input type="email" class="form-control" required="required" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="website">Phone</label>
                                    <input type="number" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea name="" id="message" cols="30" rows="10" class="form-control" value="message" required="required"></textarea>
                                </div>

                                <input type="hidden" name="url" id="url">

                                <script>
                                    var urlPath = window.location.pathname;
                                    var input = document.getElementById("url");
                                    input.value = urlPath;
                                </script>

                                <div class="form-group">
                                    <input type="submit" class="btn py-3 px-4 btn-primary">
                                </div>

                            </form>
                        </div>


                    </div>

                </div>
                <!-- .col-md-8 -->
                <div class="col-lg-4 sidebar ftco-animate">




                    <div class="sidebar-box ftco-animate">
                        <h3>Popular Articles</h3>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(../public/images/image_1.jpg);"></a>
                            <div class="text">
                                <h3 class="heading">
                                    <a href="/blog/6-popular-interior-design-styles">6 Popular Interior Design Styles</a>
                                </h3>
                                <div class="meta">
                                    <div>
                                        <a href="#">
                                            <span class="icon-calendar"></span> March 20, 2019</a>
                                    </div>
                                    <div>
                                        <a href="#">
                                            <span class="icon-person"></span>Admin</a>
                                    </div>
                                    {{!--
                                    <div>
                                        <a href="#">
                                            <span class="icon-chat"></span> 19</a>
                                    </div> --}}
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(../public/images/image_2.jpg);"></a>
                            <div class="text">
                                <h3 class="heading">
                                    <a href="/blog/top-2019-interior-design-trends">Top 2019 Interior Design Trends</a>
                                </h3>
                                <div class="meta">
                                    <div>
                                        <a href="/blog/top-2019-interior-design-trends">
                                            <span class="icon-calendar"></span> March 20, 2019</a>
                                    </div>
                                    <div>
                                        <a href="/blog/top-2019-interior-design-trends">
                                            <span class="icon-person"></span>Admin</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(../public/images/image_3.jpg);"></a>
                            <div class="text">
                                <h3 class="heading">
                                    <a href="/blog/top-2019-interior-design-trends">Top 2019 Interior Design Trends</a>
                                </h3>
                                <div class="meta">
                                    <div>
                                        <a href="/blog/top-2019-interior-design-trends">
                                            <span class="icon-calendar"></span> March 20, 2019</a>
                                    </div>
                                    <div>
                                        <a href="/blog/top-2019-interior-design-trends">
                                            <span class="icon-person"></span>Admin</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="sidebar-box subs-wrap">
                        <h3>Subcribe to our Newsletter</h3>
                        {{!--
                        <p>Far far away, behind the word mountains, far from the countries Vokalia</p> --}}
                        <form action="#" class="subscribe-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email Address">
                                <input type="submit" value="Subscribe" class="mt-2 btn btn-white submit">
                            </div>
                        </form>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3>Archives</h3>
                        <ul class="categories">
                            <li>
                                <a href="#">September 2018
                                    <span>(6)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">August 2018
                                    <span>(8)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">July 2018
                                    <span>(2)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">June 2018
                                    <span>(7)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">May 2018
                                    <span>(5)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">April 2018
                                    <span>(3)</span>
                                </a>
                            </li>
                        </ul>
                    </div>



                </div>
                <!-- END COL -->

            </div>
        </div>
    </section>
    <!-- .section -->

    {{>footer}}



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
        </svg>
    </div>


    {{>script}}

</body>

</html>