<!DOCTYPE html>
<html lang="en">

<head>
    <title>Eagle Decor </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">{{>meta}} {{>stylesheet}}
</head>

<body>

    {{>navigation}}
    <!-- END nav -->

    <section class="home-slider js-fullheight owl-carousel">
        <div class="slider-item js-fullheight" style="background-image:url(../public/images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">Architectural Services</h1>
                        <p class="breadcrumbs">
                            <span class="mr-2">
                                <a href="/">Home</a>
                            </span>
                            <span class="mr-2">
                                <a href="/services">Services--</a>
                            </span>
                            <span>Architectural Services</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate">
                    <h2 class="mb-4">Architectural Services</h2>
                    <p>We provide you the architectural consultancy right from designing by suggesting different options as
                        per requirements given by the client and once the sketch or concept / design is finalised by mutual
                        conscent we further go for approval from the competent authorities. At the time of designing only
                        we keep guiding our client regarding local bylaws and keep them update in change if any.</p>
                    <p>Right from first day our client is aware about what is wrong and right. Which is compundable and what
                        is not compoundable?</p>
                    <p>We deal with all the paper work and liaison with the local authorities for approval and all.
                    </p>
                    <p>
                        After approval of building plan we go for working drawing well in advance before start of work. The working drawings like
                        architectural, structural, electrical, plumbing, flooring, elevation etc. Prepared and given to our
                        clients. We do complete homework before start of work and just to follow the drawing once the project
                        is started.</p>
                </div>
            </div>

        </div>
    </section>
    <section class="ftco-section">
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-md-6 col-lg-4 ftco-animate heigth45vh">
                    <div class="project">
                        <img src="../public/images/services/architecture-and-exterior-design/modern-elevation-design-red-brick-steel-gray-granite-eagle-decor.jpg"
                            class="img-fluid" alt="eagle decor">

                        <a href="../public/images/services/architecture-and-exterior-design/modern-elevation-design-red-brick-steel-gray-granite-eagle-decor.jpg"
                            class="icon image-popup d-flex justify-content-center align-items-center ">
                            <span class="icon-expand "></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate heigth45vh">
                    <div class="project">
                        <img src="../public/images/services/architecture-and-exterior-design/moden-house-elevation-wood-glass-railing-grey-stone-eagle-decor.jpg"
                            class="img-fluid" alt="eagle decor">

                        <a href="../public/images/services/architecture-and-exterior-design/moden-house-elevation-wood-glass-railing-grey-stone-eagle-decor.jpg"
                            class="icon image-popup d-flex justify-content-center align-items-center ">
                            <span class="icon-expand "></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate heigth45vh">
                    <div class="project">
                        <img src="../public/images/services/architecture-and-exterior-design/modern-house-hpl-wood-dholpur-stone-laser-cut-railing-eagle-decor.jpg"
                            class="img-fluid" alt="eagle decor">

                        <a href="../public/images/services/architecture-and-exterior-design/modern-house-hpl-wood-dholpur-stone-laser-cut-railing-eagle-decor.jpg"
                            class="icon image-popup d-flex justify-content-center align-items-center ">
                            <span class="icon-expand "></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate heigth45vh">
                    <div class="project">
                        <img src="../public/images/services/architecture-and-exterior-design/modern-house-glass-railing-hpl-wood-vertical-metal-pipe-design-metal-pergola-eagle-decor.jpg"
                            class="img-fluid" alt="eagle decor">

                        <a href="../public/images/services/architecture-and-exterior-design/modern-house-glass-railing-hpl-wood-vertical-metal-pipe-design-metal-pergola-eagle-decor.jpg"
                            class="icon image-popup d-flex justify-content-center align-items-center ">
                            <span class="icon-expand "></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate heigth45vh">
                    <div class="project">
                        <img src="../public/images/services/architecture-and-exterior-design/modern-elevation-design-grey-granite-whie-pergola-light-design-eagle-decor.jpg"
                            class="img-fluid" alt="eagle decor">

                        <a href="../public/images/services/architecture-and-exterior-design/modern-elevation-design-grey-granite-whie-pergola-light-design-eagle-decor.jpg"
                            class="icon image-popup d-flex justify-content-center align-items-center ">
                            <span class="icon-expand "></span>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ftco-animate heigth45vh">
                    <div class="project">
                        <img src="../public/images/services/architecture-and-exterior-design/contempory-boundary-wall-light-frosted-glass-eagle-decor.jpg"
                            class="img-fluid" alt="eagle decor">

                        <a href="../public/images/services/architecture-and-exterior-design/contempory-boundary-wall-light-frosted-glass-eagle-decor.jpg"
                            class="icon image-popup d-flex justify-content-center align-items-center ">
                            <span class="icon-expand "></span>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ftco-animate heigth45vh">
                    <div class="project">
                        <img src="../public/images/services/architecture-and-exterior-design/factory-design-red-brick-white-paint-eagle-decor.jpg"
                            class="img-fluid" alt="eagle decor">

                        <a href="../public/images/services/architecture-and-exterior-design/factory-design-red-brick-white-paint-eagle-decor.jpg"
                            class="icon image-popup d-flex justify-content-center align-items-center ">
                            <span class="icon-expand "></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate heigth45vh">
                    <div class="project">
                        <img src="../public/images/services/architecture-and-exterior-design/modern-house-elevation-design-night-view-grey-granite-whie-pergola-light-design-eagle-decor.jpg"
                            class="img-fluid" alt="eagle decor">

                        <a href="../public/images/services/architecture-and-exterior-design/modern-house-elevation-design-night-view-grey-granite-whie-pergola-light-design-eagle-decor.jpg"
                            class="icon image-popup d-flex justify-content-center align-items-center ">
                            <span class="icon-expand "></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate heigth45vh">
                    <div class="project">
                        <img src="../public/images/services/architecture-and-exterior-design/modern-house-vertical-metal-pergola-stell-gate-2-way-light-cream-color-marble-eagle-decor.jpg"
                            class="img-fluid" alt="eagle decor">

                        <a href="../public/images/services/architecture-and-exterior-design/modern-house-vertical-metal-pergola-stell-gate-2-way-light-cream-color-marble-eagle-decor.jpg"
                            class="icon image-popup d-flex justify-content-center align-items-center ">
                            <span class="icon-expand "></span>
                        </a>
                    </div>
                </div>
            </div>
    </section>

    {{>footer}}


    <!-- loader -->
    <div id="ftco-loader " class="show fullscreen ">
        <svg class="circular " width="48px " height="48px ">
            <circle class="path-bg " cx="24 " cy="24 " r="22 " fill="none " stroke-width="4 " stroke="#eeeeee " />
            <circle class="path " cx="24 " cy="24 " r="22 " fill="none " stroke-width="4 " stroke-miterlimit="10
                            " stroke="#F96D00 " />
        </svg>
    </div>



    {{>script}}

</body>

</html>