<!DOCTYPE html>
<html lang="en">

<head>
    <title>Eagle Decor </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">{{>meta}} {{>stylesheet}}
</head>

<body>

    {{>navigation}}
    <!-- END nav -->

    <section class="home-slider js-fullheight owl-carousel">
        <div class="slider-item js-fullheight" style="background-image:url(../public/images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">Interior Decoration</h1>
                        <p class="breadcrumbs">
                            <a href="/">Home</a>
                            </span>
                            <span class="mr-2">
                                <a href="/services">Services--</a>
                            </span>
                            <span>Interior Decoration</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate">
                    <h2 class="mb-4">Interior Decoration</h2>
                    <p>At Eagle Decor, we understand that you need your house to be your own reflection. It should be able to
                        tell the story of who you are and made of everything that you love. Residential interior design plays
                        an indisputable role in ensuring that you have just the right mix of luxury and comfort at your home.
                        No matter where you go or whether you stay in some of the best hotels around the world very often,
                        no place can make you feel as relaxed as your own house. This is why Nitido Design has the best residential
                        interior designers in Mumbai who can transform your house into a welcoming and cheerful abode. When
                        creating interior designs for a house, we always keep in mind that every space within a house has
                        an essence of its own – be it the living room, bedroom, kids’ room, kitchen, terrace, bathroom or
                        dining area. It is our primary job during the ideation as well as the execution of your house design
                        to make sure that each part of your residence echoes your personal taste, all the while upholding
                        its functionality.</p>
                    <p>The expert team at Nitido Design carefully assesses the styling and furnishing needs of your living space
                        as well as of each of the family members before creating a tailor-made residential design concept
                        for you. Everything from the furniture to material finish, lighting, plumbing fixtures and other
                        accessories is selected by them in compliance with the personalised home interior design theme curated
                        for you. One of the most modern house interior designs we have worked on was a generous two-bedroom
                        flat in Chembur. The challenge was to preserve the calmness of this beautiful house and also, make
                        it look refreshing and upbeat with the use of colours, materials and design. We used custom-made
                        solid timber furniture to depict the quality of timelessness, and Italian marble flooring to give
                        it a modern touch. While working on interior design ideas for a small house in Pali Hill, our experts
                        decided to give it a very shabby chic look. They designed it in a French country home style, using
                        only white colour for the entire house and complementing it with antique switches and handcrafted
                        teakwood doors and windows. The relaxing interiors of this house perfectly go with the amazing views
                        of the Arabian Sea and palm trees.</p>
                    <p>The owners of a 3BHK sea-facing apartment in Palm Beach wanted a blend of warmth and sophistication for
                        their home. Our residential interior designers in Mumbai put their creative minds to transform their
                        spacious place into an elegant, stylish home with warm tones, lavish custom furniture, premium veneers
                        and grand bathrooms of the kind that are otherwise seen only in renowned hotels or heritage palaces.
                        Similarly, we have worked on several residential projects across Mumbai. The masterpieces created
                        by our expert house interior design team are present in every nook and corner of the city from Gamadia
                        Road, Worli and Lower Parel to Juhu, Bandra, Bandstand, Santa Cruz, Andheri, Mahalaxmi and Thane.
                        A major challenge for us was to conceptualize a residential interior design for a spacious 8000 sq
                        ft villa situated in an upcoming suburb of Jaipur. The experts at Nitido Design took this challenge
                        head on and designed the place with unparalleled style and every modern feature – from a home theatre
                        to a living room with a fireplace, an outdoor barbecue, pool, four bedrooms and a master suite with
                        terrace.
                    </p>
                    <p>We have also worked on a couple of show flats for some prominent builders in Thane and Navi Mumbai region
                        and in Pune. The most contemporary design techniques have been used to create a perception of luxury
                        and expanse in these compact, modern spaces. Visitors can easily get some clever interior design
                        ideas for living room and other home decoration tips to create their very own urban living space.
                        Our years of experience have only added to our capabilities and expertise in creating interior design
                        for home and established us one of the best in the field. So whether you are looking for comfort,
                        warmth, sophistication or a mix of it all, just leave it to us! It is our promise to leave no stone
                        unturned, and deliver nothing but the best to turn your house into a beautiful, vibrant and lively
                        dream home.</p>

                </div>
            </div>

        </div>
    </section>

    {{>footer}}


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
        </svg>
    </div>



    {{>script}}

</body>

</html>