<!DOCTYPE html>
<html lang="en">

<head>
    <title>Eagle Decor </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">{{>meta}} {{>stylesheet}}
</head>

<body>

    {{>navigation}}
    <!-- END nav -->

    <section class="home-slider js-fullheight owl-carousel">
        <div class="slider-item js-fullheight" style="background-image:url(../public/images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">modular-furniture</h1>
                        <p class="breadcrumbs">
                            <a href="/">Home</a>
                            </span>
                            <span class="mr-2">
                                <a href="/services">Services--</a>
                            </span>
                            <span>modular-furniture</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate">
                    <h2 class="mb-4">modular-furniture</h2>
                    <p>Looking for the best moduler furniture designers in Gurgaon for your loved Home? Worried about the interior
                        design of moduler furniture? Then, you are at the right place! Eagle decor are a well-known name
                        in the moduler furniture design company, which provides moduler furniture designing Services in Gurgaon,
                        Delhi, and Noida. We provide customized size, moduler furniture (tv unit, wardrobe, vanity) as per
                        customer’s requirements.
                    </p>



                </div>
            </div>

        </div>
    </section>
    <section class="ftco-section">
        <div class="container-fluid">
            <div class="row no-gutters">



                <div class="col-md-6 col-lg-4 ftco-animate heigth45vh">
                    <div class="project">
                        <img src="../public/images/services/moduler-furniture/acrylic-wardrobe-bed-bed-wall-false-ceiling-eagle-decor.jpeg" class="img-fluid"
                            alt="eagle decor">

                        <a href="../public/images/services/moduler-furniture/acrylic-wardrobe-bed-bed-wall-false-ceiling-eagle-decor.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate heigth45vh">
                    <div class="project">
                        <img src="../public/images/services/moduler-furniture/modern-tv-unit-staircase-sofa-table-eagle-decor.jpeg" class="img-fluid"
                            alt="eagle decor">

                        <a href="../public/images/services/moduler-furniture/modern-tv-unit-staircase-sofa-table-eagle-decor.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate heigth45vh">
                    <div class="project">
                        <img src="../public/images/services/moduler-furniture/vanity-above-wc-storage-kight-mirror.jpeg" class="img-fluid" alt="eagle decor">

                        <a href="../public/images/services/moduler-furniture/vanity-above-wc-storage-kight-mirror.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate heigth45vh">
                    <div class="project">
                        <img src="../public/images/services/moduler-furniture/white-tv-unit-black-wall-decor-eagle-decor.jpeg" class="img-fluid"
                            alt="eagle decor">

                        <a href="../public/images/services/moduler-furniture/white-tv-unit-black-wall-decor-eagle-decor.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate heigth45vh">
                    <div class="project">
                        <img src="../public/images/services/moduler-furniture/white-vanity-angel-ceiling-light-eagle-decor.jpeg" class="img-fluid"
                            alt="eagle decor">

                        <a href="../public/images/services/moduler-furniture/white-vanity-angel-ceiling-light-eagle-decor.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate heigth45vh">
                    <div class="project">
                        <img src="../public/images/services/moduler-furniture/white-vanity-looking-mirror-eagle-decor.jpeg" class="img-fluid" alt="eagle decor">

                        <a href="../public/images/services/moduler-furniture/white-vanity-looking-mirror-eagle-decor.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate heigth45vh">
                    <div class="project">
                        <img src="../public/images/services/moduler-furniture/chair-clean-contemporary-tv-unit-cantilever-shelf-eagle-decor.jpg "
                            class="img-fluid" alt="eagle decor">

                        <a href="../public/images/services/moduler-furniture/chair-clean-contemporary-tv-unit-cantilever-shelf-eagle-decor.jpg  "
                            class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate heigth45vh">
                    <div class="project">
                        <img src="../public/images/services/moduler-furniture/Top-Modern-Bedroom-Design-For-Small-Rooms-Design-And-Clothes-Closets-eagle-decorF.jpg"
                            class="img-fluid" alt="eagle decor">

                        <a href="../public/images/services/moduler-furniture/Top-Modern-Bedroom-Design-For-Small-Rooms-Design-And-Clothes-Closets-eagle-decorF.jpg"
                            class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>



            </div>
    </section>

    {{>footer}}


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
        </svg>
    </div>



    {{>script}}

</body>

</html>modular-furniture